  <h4 class="mb-4">Pergunte para o coach:</h4>

  <form action="/answer">
    <div class="input-group mb-3">
      <input type="text" placeholder="Sua pergunta" name="question" class="form-control" aria-describedby="button-addon2">
      <div class="input-group-append">
        <input type="submit" value="Ask!" class="btn btn-outline-secondary"  id="button-addon2">
      </div>
    </div>
  </form>

